@{
    ViewData["Title"] = "CoWork454";
    var newsPosts = (List<NewsPost>)ViewData["news__featured"];
}

<!-- COVID-19 Alert -->
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <a href="#"><p class="alert-btn">See how we are fighting COVID-19</p></a>
</div>

<!-- Alert Modal -->
<div class="alert-bg">
    <div class="alert-header">
        <span class="alert-close">&times;</span>
        <h2>COVID-19</h2>
    </div>
    <div class="alert-modal">
        <h2>GOING VIRTUAL TO LIMIT ONSITE HEADCOUNT.</h2>
        <p>
            CoWork454 remains open to members via their access cards, but the Front Doors are
            closed to limit guest traffic. Members proactively moved to virtual meetings and moved
            event series to a webinar format. Individual events were canceled.
         </p>

        <hr>

         <h2>INCREASED CLEANING AND IN-OFFICE CLEANINGS.</h2>

        <p> As of March 15, we have been disinfecting and cleaning the workspace at an increased
            frequency. This includes disinfecting shared spaces and handles, private offices, and
            outdoor terrace furniture.
        </p>
    </div>
</div>

<!-- Video Section -->
<section class="showcase">
    <div class="video-container">
        <video src="~/images/CoWork.mp4" autoplay muted loop></video>
    </div>

    <h1 class="content">CoWork454 Join our community!</h1>
</section>

<!----------------------- About Section ------------------------>

<section class="about-container">
    <a name="about-section" />
    <img class="about-logo"
         src="~/images/logo-white.svg"
         alt="CoWork454 logo-white" />

    <a href="#" class="about-offer special-btn">
        <p>
            Limited time offer for new members! <br />
            <strong>See more!!!</strong>
        </p>
    </a>
    <div class="about-text">
        <p>
            CoWork454 is Perth's best coworking space, offering multiple size private
            offices and open workspaces on Scarborough Beach Road, located in Osborne
            Parks business precinct and close proximity to Scarborough beach.
        </p>

        <p>
            Our inspiring environment creates a friendly and productive space. In
            addition to move-in ready offices with flexible terms, members are also
            entitled to free parking!
        </p>
        <p>
            CoWork454 takes pride in our members-only community. We uniquely blend
            hospitality and productivity, which is why leading startups and small
            businesses choose CoWork454.
        </p>
    </div>

    <!-------- Special offers Modal  --------->

    <div class="special-bg">
        <div class="special-header">
            <span class="special-close">&times;</span>
 
        </div>
        <div class="special-modal">
            <div class="container">
                <div class="top">
                    <h1>Pricing Plans & Specials</h1>
                    <div class="toggle-btn">
                        <span style="margin: 1em;">Monthly</span>
                        <label class="switch">
                            <input type="checkbox" id="checbox" onclick="check()" ; />
                            <span class="slider round"></span>
                        </label>
                        <span style="margin: 1em;">Annually</span>
                    </div>
                </div>

                <div class="package-container">
                    <div class="packages">
                        <h1>Basic</h1>
                        <h2 class="text1">&dollar;200.00</h2>
                        <h2 class="text2">&dollar;9.99</h2>
                        <ul class="list">
                            <li class="first">24 hour access</li>
                            <li>Lorem ipsum dolor sit </li>
                            <li>consectetur adipiscing</li>
                            <li>incididunt ut labore</li>
                        </ul>
                        <a href="#" class="button button1">Start Now</a>
                    </div>
                    <div class="packages">
                        <h1>Sepcial</h1>
                        <h2 class="text1">&dollar;239.99</h2>
                        <h2 class="text2">&dollar;19.99</h2>
                        <ul class="list">
                            <li class="first">Back to work special</li>
                            <li>Buy 3 months get 6 free</li>
                            <li>24 hour access</li>
                            <li>consectetur adipiscing</li>
                        </ul>
                        <a href="#" class="button button2">Start Now</a>
                    </div>
                    <div class="packages">
                        <h1>Master</h1>
                        <h2 class="text1">&dollar;359.99</h2>
                        <h2 class="text2">&dollar;99.99</h2>
                        <ul class="list">
                            <li class="first">Back to work +</li>
                            <li>Lorem ipsum dolor sit </li>
                            <li>consectetur adipiscing</li>
                            <li>incididunt ut labore</li>
                        </ul>
                        <a href="#" class="button button3">Start Now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <a href="/index/gallery" class="about-button">Take a Tour</a>
    <!-- <a class="about-button">Take a Tour</a> -->
</section>

<!-------------- Services section  -------------->

<section class="services">
    <div class="location-col">
        <img class="services-image"
             src="~/images/Image.svg"
             alt="cowork454front"
             height="250" />
        <img class="icon"
             src="~/images/location-icon.svg"
             alt="location icon"
             height="80" />
        <h2>Location</h2>
        <p>
            Located at 454 Scarborough Beach Road. The Hutton Street exit has entry
            points to the freeway which offer easy access to and from the CBD. The
            property is also well serviced by bus routes directly to and from Stirling
            train station.

            <br /><br />Close proximity to the beach
        </p>
    </div>

    <div class="services-col">
        <img class="services-image"
             src="~/images/1.jpg"
             alt="front office"
             height="250" />
        <img class="icon"
             src="~/images/services-icon-blue.svg"
             alt="services icon"
             height="80" />
        <h2>Services</h2>
        <ul>
            <li>Reception area</li>
            <li>Breakout/lunch area</li>
            <li>Boardroom</li>
            <li>Training Room</li>
            <li>145 Work Stations</li>
            <li>21 Offices</li>
            <li>7 Meeting Rooms</li>
            <li>IT Room</li>
        </ul>
    </div>

    <div class="extras-col">
        <img class="services-image"
             src="~/images/10.jpg"
             alt="office desk"
             height="250" />
        <img class="icon"
             src="~/images/coin-icon-red.svg"
             alt="extra's icon"
             height="80" />
        <h2>Extras</h2>
        <ul>
            <li>Free Car Parking</li>
            <li>Complimentary hand sanitisers</li>
            <li>Daily Cleaning (WA Health Standards)</li>
            <li>Multiple utility areas</li>
            <li>Shower/Lockers available</li>
        </ul>
    </div>
</section>

<!----------------------- News Section ------------------------>

<section class="news-container">
    <h2 class="map-h2"><i class="fab fa-microblog map-h2"></i> CoWork454 News</h2>
    <div class="news__left">

        <img class="news__featured__image" src="@newsPosts[0].NewsPhoto" />
        <div class="news__featured">
            <h3>@newsPosts[0].NewsTitle</h3>
            @{
                var output = "";
                if (@newsPosts[0].NewsText.Length > 900)
                {
                    var str = @newsPosts[0].NewsText.Substring(0, 900);
                    output = str.Substring(0, str.LastIndexOf(' '));
                }
                <p>@output</p>
                <a href="/news/details/@newsPosts[0].Id"><p>Read More</p></a>
                }
            </div>

    </div>
    <div class="news__right">

        <ul class="image-gallery news_gallery">
            @{ for (var i = 1; i < newsPosts.Count; i++)
                {
                    
                        <li>
                                        <a href="/news/details/@newsPosts[i].Id">
                                            <div class="news__post">
                                                <div class="news__image" style="background-image: url('@newsPosts[i].NewsPhoto')"></div>
                                                <div class="news__content">
                                                    <h3>@newsPosts[i].NewsTitle</h3>
                                                    <p>@newsPosts[i].Author.FirstName @newsPosts[i].Author.LastName</p>
                                                    <p>@newsPosts[i].DateTimePosted.ToString("MMMM dd yyyy")</p>
                                                </div>
                                            </div>
                                        </a>
                        </li>
                        
                        }
                        }
                </ul>
    </div>

    <a href="/news" class="about-button">More News</a>
</section>
<!-------------Contact Us Section ----------------------->

<section class="contact-container">

    <div class="contact-content">

        <h1 class="contact-title">CONTACT US</h1>
        <h2 class="htwo">
            Want to book or find out more?
        </h2>

        <h3 class="hthree">Fill out the form below and a member of our team will be in touch!</h3>

        <form class="contactUs">
            <div class="wrapper">
                <div class="contact-form">
                    <div class="input-fields">
                        <input type="text" class="input" id="firstName" placeholder="First Name">
                        <input type="text" class="input" id="lastName" placeholder="Last Name">
                        <input type="text" class="input" id="email" placeholder="Email Address">
                        <input type="text" class="input" id="phoneNumber" placeholder="Phone Number">
                        <input type="text" class="input" id="subject" placeholder="Subject">
                    </div>
                    <div class="msg">
                        <textarea placeholder="Message" id="message"></textarea>
                        <button id="submitBtn">Send</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

</section>


<!-------------Map Section ----------------------->

<section class="map">
    <h2 class="map-h2">
        <img src="~/images/location-icon.svg" alt="location icon" height="80" />
        Location
    </h2>

    <div class="map-iframe">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3387.013865838582!2d115.80824651576245!3d-31.
        906220627308933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32af9ecc0486cb%3A0xf9ab7f96b7c336f2!
        2s454%20Scarborough%20Beach%20Rd%2C%20Osborne%20Park%20WA%206017!5e0!3m2!1sen!2sau!4v1589101710705!5m2!1sen!2sau"></iframe>
    </div>
</section>

<!-- Back to to button -->
<a href="#" class="to-top">
    <i class="fas fa-chevron-up"></i>
</a>

@section scripts{
    <script type=" text/javascript " src="~/js/pages/home.js " asp-append-version="true"></script>
}
