@{
    ViewData["Title"] = "CoWork454";
    var user = (User)ViewData["user"];
    var bookings = (List<ResourceBooking>)ViewData["resourceBookings"];
}

<h1 class="img-h1">
    Welcome @user.FirstName
</h1>
<div class="news-post">

    <div class="post nchild">
        <img src="@user.UserImagePath" />
        <h3>@user.FirstName @user.LastName</h3>
        <p>@user.EmailAddress</p>
        <p>Membership type: Premium</p>

        <a class="news__btn" href="/resources">Make a room booking</a>
        <a class="news__btn" href="/resources">Check out our news</a>
    </div>
    </div>

    @{if (bookings.count == 0) {
        <h2>No bookings to display</h2>
    } else {
        forEach(booking in bookings)    {

<div class="news-post">

    <div class="post nchild">
        <img src="@booking.resource.UserImagePath" />
        <h3>@user.FirstName @user.LastName</h3>
        <p>@user.EmailAddress</p>
        <p>Membership type: Premium</p>

        <a class="news__btn" href="/resources">Make a room booking</a>
        <a class="news__btn" href="/resources">Check out our news</a>
    </div>
</div>
        <form class="post nchild" method="POST" action="/booking/delete">
            <label class="description" for="ResourceBookingStart">Booking Start</label>
            <input name="ResourceBookingStart" type="datetime" />
            <label class="description" for="ResourceBookingEnd">Booking End</label>
            <input name="ResourceBookingEnd" type="datetime" />
            <input type="hidden" id="id" name="id" />
            <input type="hidden" id="resourceId" name="resourceId" value="@booking.Id" />
            <button class="news__btn" type="submit" id="book_btn">Book</button>
        </form>
        }
    }
    }



