@{
    ViewData["Title"] = "CoWork454";
    var user = (User)ViewData["user"];
    var bookings = (List<ResourceBooking>)ViewData["resourceBookings"];
}
    <div class="user container">
        <h1 class="user">
            Welcome @user.FirstName!
        </h1>
        <div class="user-post">
            <div class="post nchild">
                <img src="@user.UserImagePath" />
                <h3>@user.FirstName @user.LastName</h3>
                <p>@user.EmailAddress</p>
                <p>Membership type: Premium</p>
                <div class="user__action">
                    <a class="user__btn" href="/resource">Make a room booking</a>
                    <a class="user__btn" href="/news">Check out our news</a>
                </div>
            </div>
        </div>

        @{if (bookings.Count == 0)
            {
                <div class="booking post nchild">
                    <h2>No bookings to display</h2>
                    <div class="user__action">
                        <a class="user__btn" href="/resource">Make a room booking</a>
                        <a class="user__btn" href="/news">Check out our news</a>
                    </div>
                </div>
            }
            else
            {
                foreach (ResourceBooking booking in bookings)
                {

                    
                        <div class="booking post nchild">
                            <img src="@booking.Resource.ResourceImage" />
                            <h2>@booking.ResourceBookingStart - @booking.ResourceBookingEnd</h2>
                            <h3>@booking.Resource.ResourceName</h3>
                            <h3>@booking.Resource.ResourceDescription</h3>
                            <h3>Capacity - @booking.Resource.ResourceMaxCapacity users</h3>
                            <h3>VC - @booking.Resource.ResourceName</h3>

                            <form action="booking/delete" method="POST">
                                <button class="user__btn" type="submit">Delete booking</button>
                            </form>

                        </div>

                }
            }
        }

    </div>




