@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var resources = (List<Resource>)ViewData["resources"];
}
    <div class="resource container">
        <h1>
            Resources available for booking
        </h1>
        <div class="news-post">

            @{ for (var i = 0; i < resources.Count; i++)
                {
                    var vc = (resources[i].ResourceHasVC) ? "Yes" : "No";
                    <div class="post nchild">
                        <img src="@resources[i].ResourceImage" />
                        <h3>@resources[i].ResourceName</h3>
                        <p>@resources[i].ResourceDescription</p>
                        <p>Capacity - @resources[i].ResourceMaxCapacity people</p>
                        <p>Video Conferencing - @vc</p>
                        <form action="/booking">
                            <input type="hidden" id="id" name="id" value="@resources[i].Id" />
                            <button type="submit" id="book_btn">Book</button>
                        </form>
                    </div>
                }
            }
        </div>
    </div>


